// Tipografias //

$primary-font: "Plus Jakarta Sans", sans-serif;

// Colores //
$black: black;
$blue: #6ca5bc;
$white: white;

// Breakpoints //
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
