@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.container {
  padding: 20px;
}

.container-principal {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(tablet) {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
  }
}
