@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.footer {
  background-color: $white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 100px;
    @include breakpoint(tablet) {
      width: 150px;
    }
  }
  &__redes {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    a {
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(-10px);
      }
      img {
        width: 30px;
        background-color: black;
        border-radius: 50%;
        padding: 10px;
        @include breakpoint(tablet) {
          width: 40px;
        }
      }
    }
  }
  &__aviso {
    text-decoration: none;
  }
}
