@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.header_principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  background-color: $white;
  padding: 20px 20px;
  z-index: 100;
  @include breakpoint(desktop) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &__logo img {
    width: 100px;

    @include breakpoint(tablet) {
      width: 150px;
    }
  }
  &__nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
    @include breakpoint(desktop) {
      gap: 30px;
    }

    a {
      text-decoration: none;
      font-family: $secondary-font;
      font-size: 12px;
      transition: font-size 0.5s ease, color 0.5s ease;
      @include breakpoint(tablet) {
        font-size: 16px;
      }

      &:hover {
        color: $blue;
        font-size: 14px;
        font-weight: 700;
        @include breakpoint(tablet) {
          font-size: 20px;
        }
      }
    }
  }
  .button-blue {
    font-family: $secondary-font;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 12px;
    @include breakpoint(tablet) {
      font-size: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
    @include breakpoint(desktop) {
      padding-left: 20px;
      padding-right: 20px;
    }
    &:hover {
      font-size: 14px;
      @include breakpoint(tablet) {
        font-size: 20px;
      }
    }
  }
}
